/*Обнуление*/
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}
/*--------------------*/

body {
font-family: 'TT Lakes';
display: flex;
flex-direction: column;
justify-content: center;
overflow: auto;
background-color: #f8f8f8;
position: relative;
}
button {
  background-color: #fff;
  transition: 0.2s ease 0.1s;
}
.menu {
  background-color: #fff;
  border-bottom: rgba(217, 255, 245, 1) 1px solid;
  padding: 18px 16px;
}
.menu__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu__burgermenu {
  background-color: #fff; 
  display: inline-block;
  margin-right: 16px;
}
.menu__item, .contact-button {
  display: flex;
}
.memu__logo {
  display: inline-block;
}
.menu__dividor-container{
  display: flex;
  margin-right: 16px;
}
.memu__repair {
  display: inline-block;
}
.menu__dividor{
  width: 2px;
  min-height: 32px;
  background-color: rgba(234, 234, 234, 1);
  margin: 4px 20px 4px 20px;
  display: inline-block;
  align-self: center;
}
.main {
  background-color: #f8f8f8;
  position: relative;
}
.main__title {
  padding-top: 24px;
  line-height: 40px;
  font-size: 28px;
  font-weight: bold;
  letter-spacing: -0.6px;
  position: relative;
  padding-left: 12px;
}
.main__title::before {
  content: '';
  display: inline-block;
  width: 4px;
  min-height: 40px;
  position: absolute;
  left: 0;
  background-color: #41F6D7;
  border-radius: 0 5px 5px 0;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.main__slide-menu {
  display: flex;
  overflow: auto;
  margin: 24px 5px 0 16px;
}
.main__menu-item {
  font-weight: 500;
  line-height: 36px;
  font-size: 16px;
  letter-spacing: -0.2px;
  color: rgba(126, 126, 130, 1);
  display: inline-block;
  min-height: 40px;
  white-space: nowrap;
  padding: 0 16px;
  border: #f8f8f8 2px solid;
  border-radius: 6px;
}
.main__menu-item:focus {
  border: rgba(184, 255, 236, 1) 2px solid;
  border-radius: 6px;
  background-color: #fff;
}
.main__menu-item:hover {
  border: rgba(184, 255, 236, 1) 2px solid;
  background-color: #fff;
  border-radius: 6px;
}
.main__slide-menu::after {
  content: '';
  position: absolute;
  top: 88px;
  right: 0;
  width: 30px;
  min-height: 40px;
  background: rgb(255,255,255);
  background: linear-gradient(90deg, rgba(255,255,255,0) 0%, #f8f8f8 65%);
  pointer-events: none;
}
.main__slide-menu::before {
  content: '';
  position: absolute;
  top: 88px;
  left: -5px;
  width: 30px;
  min-height: 40px;
  background: rgb(255,255,255);
  background: linear-gradient(270deg, rgba(255,255,255,0) 0%, #f8f8f8 65%);
  pointer-events: none;
}
.main__info {
  display: flex;
  flex: 1 1 auto;
  flex-wrap: wrap;
}
.main__text {
  font-size: 14px;
  margin: 24px 16px 0 16px;
  line-height: 18px;
  letter-spacing: 0.2px;
  overflow: hidden;
  max-height: 90px;
}
.read-more {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: -0.2px;
  background-color: #f8f8f8;
  background:#f8f8f8 url('img/logo/expand.svg') no-repeat 0 50%;
  display: inline-block;
  margin: 16px;
}
.read-more::before {
  content: '';
  margin-right: 26px;
}
.main__picture {
  width: 100%;
  display: inline-block;
}
.footer-space {
  flex-grow: 1;
  background-color: #f8f8f8;
  height: 24px;
}
.menu__item:nth-child(2){
  display: none;
}
.burger-divitor {
  display: none;
}
.main__text-item:nth-child(1) {
  margin-bottom: 16px;
}
.main__repair {
  display: none;
}
.main__checkstatus {
  display: none;
}
/* БУРГЕР МЕНЮ */
.burger-menu {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  background: rgba(255, 255, 255, 1);
  box-shadow: 16px 0px 52px 0px rgba(14, 24, 80, 0.2), -2px 0px 4px 0px rgba(69, 79, 126, 0.02);
}
.burger-menu button {
  background-color: #fff;
}
.burger-menu__body {
  padding: 24px;
  display: flex;
  flex-direction: column;
  width: 320px;
  min-height: 100vh;
  max-height: 1024px;
}
.berger-menu__header {
  display: flex;
}
.burger-menu__back {
  margin-right: 16px;
}
.burger-menu__logo {
  flex-grow: 1;
}
.burger-menu__main {
  flex-grow: 1;
  margin-top: 53px;
  display: flex;
  flex-direction: column;
}
.burger-menu__item {
  margin-top: 32px;
  display: inline-block;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: rgba(27, 28, 33, 1);
  font-weight: 500;
  position: relative;
  flex-wrap: 1;
  transition: 0.3s ease-in-out;
}
.burger-menu__item:nth-child(1) {
  margin-top: 0;
}
.burger-menu__item:focus {
  color: rgba(126, 126, 130, 1);
}

.burger-menu__item:focus::before {
  content: '';
  width: 4px;
  height: 32px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  background-color: rgba(65, 246, 215, 1);
  position: absolute;
  left: -24px;
  top: -4px;
}

.burger-menu__footer {
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  flex: 0 1 auto;
}
.burger-menu__element {
  color:rgba(27, 28, 33, 1);
}
.burger-menu__element:nth-child(2) {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  margin-top: 16px;
}
.burger-menu__element:nth-child(3) {
  font-size: 24px;
  line-height: 24px;
  letter-spacing: -0.6px;
  font-weight: 700;
  margin-top: 12px;
}
.burger-menu__element:nth-child(4) {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  margin-top: 40px;
}
.burger-menu__lang {
  margin-right: 7px;
}
.menu__ic-tell{
  margin-right: 16px;
}
.menu__ic-chat{
  margin-right: 16px;
}
/* Slider */
.title {
  padding: 16px;
  background: linear-gradient(90deg, #F8F8F8 0%, #FFFFFF 98.61%);
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: rgba(126, 126, 130, 1);
  border-top: rgba(217, 255, 245, 1) 1px solid;
}
swiper-container {
    padding: 16px 0 16px 16px;
    height: 132px;
    position: relative;
}
swiper-container::after{
    content: '';
    position: absolute;
    width: 24px;
    height: 80px;
    right: 0;
    top: -5px;
    z-index: 1;
    background: linear-gradient(270deg, #F8F8F8 16.84%, rgba(248, 248, 248, 0.0001) 100%);
}
swiper-slide, .services__item {
    width: 240px;
    height: 72px;
    padding: 16px;
    background-color: #fff;
    border: 1px solid rgba(234, 234, 234, 1);
    border-radius: 6px;
    display: flex;
  justify-content: space-between;
}
swiper-slide img, .services__item img {
  max-width: 128px;
  object-fit: contain;
}
swiper-container::part(bullet-active) {
  background-color: rgba(181, 182, 188, 1);
  height: 12px;
  width: 12px;
}
swiper-container::part(bullet) {
  background-color: rgba(221, 221, 221, 1);
  opacity: 1;
  height: 12px;
  width: 12px;
}
swiper-container::part(pagination) {
  bottom: 0px;
  line-height: 12px;
}
.services__container {
  margin: 0 auto;
  max-width: 768px;
  padding: 24px;
}
.services__main {
  display: flex;
  gap: 16px 24px;
  flex-wrap: wrap;
}
.services__item {
  width: 224px;
}
.services a {
  transition: 0.2s ease-in-out;
}
.services__main, .services__read-more {
  display: none;
}
@media (min-width:768px) {
  .services__main {
    display: flex;
  }
  .services__read-more {
    display: inline-block;
    margin: 24px 0 0 0;
  }
  .title {
    padding: 16px 24px;
  }
  .menu__body {
    margin: 18px 24px;
  }
  .menu__item:nth-child(2){
    display: flex;
    justify-content: flex-start;
  }
  .menu__item:nth-child(1){
    flex-grow: 1;
    margin-right: 20px;
  }
  .menu__burgermenu {
    margin-right: 0;
  }
  .main__text{
    max-height: 160px;
  }
  .main__slide-menu{
    margin:32px 24px;
  }
  .main__slide-menu::after {
    top: 95px;
    width: 50px;
  }
  .main__slide-menu::before {
    top: 95px;
    width: 45px;
  }
  .main__picture {
    max-width: 46.875%;
  }
  .main__text {
    margin: 0;
    max-height: 160px;
  }
  .main__info-read {
    max-width: 43.6%;
  }
  .main__text-item:nth-child(1) {
    margin-bottom: 31px;
  }
  .main__info {
    margin:32px 24px;
    justify-content: space-between;
  }
  .burger-divitor {
    display: inline-block;
  }
  swiper-container {
    display: none;
  }
}
@media (min-width:1120px) {
  .services__container {
    padding: 24px 32px;
    max-width: 1120px;
  }
  .services__main {
    gap: 16px 32px;
  }
  .services__item {
    width: 240px;
  }
  .title {
    padding: 16px 32px;
  }
  body {
    align-items: center;
  }
  button {
    background-color: #f8f8f8;
  }
  .menu {
    display: none;
  }
  .main {
    margin: 42px 0;
    max-width: 1120px;
  }
  .main__title {
    padding-top: 0;
    flex-grow: 1;
  }
  .main__picture {
  max-width: 531px;
  }
  .main__info-read {
    max-width: 46%;
  }
  .main__info {
    margin: 7px 25px 0 25px;
  }
  .main__slide-menu {
    display: flex;
    flex: 1 1 auto;
    flex-wrap: wrap;
    overflow: auto;
    margin: 8px 7px 0 25px;
  }
  .main__slide-menu::after {
    content: '';
    display: none;
  }
  .main__slide-menu::before {
    content: '';
    display: none;
  }
  .main__header {
    display: flex;
  }
  .main__checkstatus {
    display: inline-block;
    margin-right: 32px;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: -0.2px;
  }
  .main__repair {
    display: inline-block;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: -0.2px;
    margin-right: 32px;
  }
  .main__checkstatus::before {
    content: 'Статус ремонта';
    line-height: 40px;
    margin-right: 10px;
    color: black;
  }
  .main__repair::before {
    content: 'Оставить заявку';
    line-height: 40px;
    margin-right: 10px;
    color: black;
  }
  swiper-container {
    display: none;
  }
}
@media (hover: hover) {
  button:hover {
    filter: grayscale(100%) opacity(70%);
    transition-delay: 0s;
  }
  .burger-menu__item:hover {
    transform: translateX(24px) scale(1.1);
  }
  .burger-menu__item:hover::before {
    content: '';
    width: 4px;
    height: 32px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    background-color: rgba(107, 123, 132, 1);
    position: absolute;
    left: -24px;
    top: -4px;
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  }
  .services a:hover {
    filter: grayscale(100%) opacity(70%);
  }
}
nav {
  display: none;
}